{deps
, [ {clojerl, "0.7.1"}
  , {cowboy,  "2.9.0"}
  ]
}.

{ plugins
, [ {'rebar3_clojerl', "0.8.5"}
  ]
}.

{clje_main, 'vermeer.main'}.

{relx, [ { release
         , {'vermeer', "0.1.0"}
         , [sasl, 'vermeer']
         }
       , {sys_config, "./config/sys.config"}
       , {vm_args, "./config/vm.args"}
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.
